body {
	background-color: black;
	color: white;
}

#logo {
	font-size: 60px;
	text-align: center;
	font-family: cursive;
}

#left-col {
	float: left;
	height: 600px;
	/* background-color: blue; */
	width: 200px;
}

#top {
	height: 190px;
	width: 190px;
	/* background-color: red; */
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
	margin: 5px;
}

#bottom {
	height: 190px;
	width: 190px;
	/* background-color: pink; */
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
	margin: 5px;
}

#shoes {
	height: 190px;
	width: 190px;
	/* background-color: green; */
	background-repeat:no-repeat;
	background-position: center center;
	background-size: contain;
	margin: 5px;
}

#right-col {
	float: right;
	height: 600px;
	/* background-color: orange; */
	width: 600px;
}

.choice {
	height: 190px;
	width: 190px;
	/* background-color: white; */
	float: left;
	margin: 5px;
}

.choices {
	clear: both;
}

#content-area{
	width: 800px;
}

#walk {
	display: none;
}
