body {
	background-color: black;
	color: white;
}

#logo {
	font-size: 60px;
	text-align: center;
	font-family: cursive;
}

/* h1 {
	color:  white;
	text-align: center;
	font-family: serif;
	font-size: 50px;
} */

#left-col {
	float: left;
	height: 600px;
	background-color: blue;
	width: 200px;
}

#top {
	height: 200px;
	width: 200px;
	background-color: red;
	background-repeat:no-repeat;
}

#bottom {
	height: 200px;
	width: 200px;
	background-color: pink;
	background-repeat:no-repeat;
}

#shoes {
	height: 200px;
	width: 200px;
	background-color: green;
	background-repeat:no-repeat;
}

#right-col {
	float: right;
	height: 600px;
	background-color: orange;
	width: 600px;
}

.choice {
	height: 190px;
	width: 190px;
	background-color: white;
	float: left;
	margin: 5px;
}

.choices {
	clear: both;
}

#content-area{
	width: 800px;
}
