body {
	background-color: black;
	color: white;
}

h1 {
	color:  white;
	text-align: center;
	font-family: serif;
}

#left-col {
	float: left;
	height: 600px;
	background-color: blue;
	width: 200px;
}

#top {
	height: 200px;
	width: 200px;
	background-color: red
}

#bottom {
	height: 200px;
	width: 200px;
	background-color: pink
}

#shoes {
	height: 200px;
	width: 200px;
	background-color: green
}

#right-col {
	float: right;
	height: 600px;
	background-color: orange;
	width: 600px;
}

.choice {
	height: 180px;
	width: 180px;
	background-color: white;
	float: left;
	margin: 10px;
}

.choices {
	clear: both;
}

#content-area{
	width: 800px;
}